<form (ngSubmit)="onSubmit(f);f.reset()" #f="ngForm">
  <label for="cusAttendant">Attendant</label>
  <input type="text" id="cusAttendant" class="form-control" ngModel name="cusAttendant">
  <label for="status">Status</label>
  <select type="text" id="status" class="form-control" ngModel name="status">
   <option value=""></option>
   <option value="pending">Pending</option>
   <option value="in progress">In Progress</option>
   <option value="waiting on parts">Waiting on Parts</option>
   <option value= "waiting on customer">Waiting on Customer</option>
   <option value="work complete">Work Completed</option>
   <option value="closed">Closed</option>
 </select>
 <label for="location">Location</label>
 <select type="text" id="status" class="form-control" ngModel name="location">
  <option value=""></option>
  <option value="Lot">Lot</option>
  <option value="Bay-1">Bay 1</option>
  <option value="Bay-2">Bay 2</option>
  <option value="Bay-3">Bay 3</option>
</select>
<button type="submit" class="btn btn-primary">Update Order</button>
</form>
<h4 class='text-center'>Add a Note</h4>
<form (ngSubmit)="onNoteSubmit(note);note.reset()" #note="ngForm">
  <textarea class="form-control" type="text" id="orderNotes" name="notes" ngModel required></textarea>
  <button [disabled]="!note.valid"  type="submit" class="btn btn-success">Add Note</button>
</form>
