<div class="container">

  <!-- Fixed navbar -->
  <nav class="navbar navbar-toggleable-md navbar-inverse static-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Rob's Garage</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/about">About</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- Begin page content -->
  <div class="mt-3">
    <h1>This is temporary.</h1>
  </div>
  <p class="lead">Eventually we can have landing page content go here.</p>
  <p>Maybe pictures of car parts or something.</p>

  <button routerLink="/signupform">Sign Up Customer</button>
  <button routerLink="/findcustomer">Find Customer</button>
  <button routerLink="/createserviceorder">Create Service Order</button>
  <button routerLink="/servicedashboard">Dashboard</button>

  <!-- components (pages) route through this code -->
  <router-outlet></router-outlet>

</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">This can be a component? --> Team MJR</span>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
